* {
    background-color:lightblue;
}
.cook {
    height: auto;
    width: 400px;
}
.image {
    text-align: center;
}
.title {
    text-align: center;
    font-size: 60px;
}
.h2 {
    font-size: 40px;
}