* {
    background-color:aliceblue;
}
.food {
    height: auto;
    width: 400px;
}
div {
    text-align: center;
}
.list {
    text-align: center;
    font-size: 18px;
}
p {
    font-size: 16px;
}
.h1 {
    text-align: center;
    font-size: 40px;
}